@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: #000;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* select classes: "header", "left-links", "right-links", and "footer" */
.header,
.left-links,
.right-links,
.footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}


/* class: content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* footer */
.footer {
  background: #eee;
}